*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
h3{
    color: wheat;
    text-align: center;
}

section{

    background-color: black;
}
.AllDBY{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}



.db{
    height: 250px;
    width: 250px;
    /* border: 1px solid salmon; */
    background-color: gray;
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


img{
    width: 100px;
    height: 100px;
}

@media screen {
    
}